.login {
  background: url("./bg.jpg");
  height: 100%;
  background-repeat: round;

  .logo {
    padding-left: 30px;
    padding-top: 30px;
  }

  main {
    padding-top: 180px;
    padding-left: 100px;
    color: white;
    display: flex;

    .title {
      font-weight: 600;
      width: 700px;

      .sub-caption {
        text-transform: uppercase;
        font-size: 24px;
      }

      .caption {
        font-size: 52px;
      }

      .meta {
        display: flex;
        margin-top: 30px;

        .meta-info {
          background: rgba(0, 0, 0, 0.75);
          border-radius: 5px;
          padding: 15px 20px;
          margin-right: 15px;

          .key {
            font-size: 24px;
            margin-bottom: 10px;
          }

          .value {
            .source-logo {
              margin-right: 5px;
            }

            .bbc-logo {
              position: relative;
              top: -3px;
            }

            .flag {
              height: 25px;
              width: 25px;
              border-radius: 50%;
              margin-right: 8px;
            }
          }
        }
      }
    }

    .input-container {
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }

    .input-wrap {
      background: rgba(0, 0, 0, 0.75);
      border-radius: 5px;
      height: 100%;
      width: 380px;

      .google-wrap {
        margin: 85px 90px;
        height: 175px;
        width: 200px;
        border: 1px solid wheat;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        img {
          height: 100px;
        }
      }

      .input-title {
        text-align: center;
        position: relative;
        top: 50px;
        font-size: 22px;
      }
    }
  }
}
